{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<title>SIC - Sistema de Indicadores de Calidad</title>
		<!--[if lt IE 7]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
		<![endif]-->
		<!--[if lt IE 8]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->
		<link href="{% static 'home/css/foundation.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'home/css/normalize.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'home/css/app.css' %}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<nav class="top-bar" data-topbar>
  				<ul class="title-area">
    				<li class="name">
      					<h1><a href="#">SIC</a></h1>
    				</li>
    				<li class="toggle-topbar menu-icon"><a href="#">Menú</a></li>
  				</ul>
  				<section class="top-bar-section">	    			
	    			<!-- Left Nav Section -->
	    			<ul class="left">
	    				{% if perfil.es_admin %}
	      				<li class="has-dropdown">
	      					<a href="#">Admin</a>
	      					<ul class="dropdown">
	      						<li><a href="/sector/">Sector</a></li>
	      						<li><a href="/indicador/">Indicador</a></li>
	      						<li><a href="/area/">Area</a></li>
	      						<li><a href="/usuario/">Usuario</a></li>
	      					</ul>
	      				</li>
	      				{% endif %}
	      				<li class="">
	        				<a href="#">Mis Indicadores</a>	        				
	      				</li>
	    			</ul>
	    			<!-- Right Nav Section -->
	    			<ul class="right">
	    				<li class="has-dropdown">
	    					<a href="#">Bienvenido, {{ perfil.usuario.username }}</a>
	    					<ul class="dropdown">
	    						<li class="divider"></li>
	    						<li><a href="#">Cambiar contraseña</a></li>
	    						<li><a href="/logout/">Cerrar Sesión</a></li>
	    					</ul>
	    				</li>	      				
	    			</ul>
  				</section>
			</nav>
		</header>

		<section id="section">
			{% block contenido %}
			{% endblock %}
		</section>

		<footer>
			<hr />
            <div class="container">
                <p>Universidad de Celaya Carretera Panamericana km. 269 Col. Rancho Pinto,Celaya, Guanajuato, México C.P. 38080. 
        	    <br />Tel: +52(461)6139099 Fax: (461)6139600 </p>
            </div>
		</footer>

		<script src="{% static 'home/js/vendor/modernizr.js' %}"></script>
		<script src="{% static 'home/js/vendor/jquery.js' %}"></script>
  		<script src="{% static 'home/js/foundation/foundation.js' %}"></script>
  		<script src="{% static 'home/js/foundation/foundation.topbar.js' %}"></script> 		
  		<script src="{% static 'home/js/app.js'%}"></script>
	</body>
</html>