{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<title>SIC - Sistema de Indicadores de Calidad</title>
		<!--[if lt IE 7]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
		<![endif]-->
		<!--[if lt IE 8]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->
		<link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'home/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'home/css/app.css' %}" rel="stylesheet" type="text/css">

		{% block custom_css %}
		{% endblock %}
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
		          	</button>
		          	<a class="navbar-brand" href="/login/">SIC</a>
		        </div>
		        <div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav">
		          	{% if perfil.es_admin %}	            
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administración<b class="caret"></b></a>
		              <ul class="dropdown-menu">
		                <li><a href="/sector/">Sector</a></li>
  						<li><a href="/indicador/">Indicador</a></li>
  						<li><a href="/area/">Area</a></li>
  						<li><a href="/usuario/">Usuario</a></li>	                
  						<li><a href="/indicadores/">Condensado de Indicadores</a></li>
		              </ul>
		            </li>
		            {% endif %}
		            {% if perfil.usuario.is_active %}
		            <li><a href="/mis_indicadores/">Mis indicadores</a></li>
		            {% endif %}
		          </ul>
		          {% if perfil.usuario.is_active %}
		          <ul class="nav navbar-nav navbar-right">
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido, {{ perfil.usuario.username }} <b class="caret"></b></a>
		              <ul class="dropdown-menu">
		                <li class="divider"></li>
						<li><a href="#">Cambiar contraseña</a></li>
						<li><a href="/logout/">Cerrar Sesión</a></li>		                
		              </ul>
		            </li>
		          </ul>
		          {% endif %}
		        </div><!--/.nav-collapse -->
		      </div>
		    </div>
		</nav>   		
		<div>
			{% block contenido %}
			{% endblock %}	
		</div>
		<footer>
			<hr />
            <div class="container">
                <p>Universidad de Celaya Carretera Panamericana km. 269 Col. Rancho Pinto,Celaya, Guanajuato, México C.P. 38080. 
        	    <br />Tel: +52(461)6139099 Fax: (461)6139600 </p>
            </div>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  		<script src="{% static 'home/js/bootstrap.min.js' %}"></script>  			
  		<script src="{% static 'home/js/app.js'%}"></script>
	</body>
</html>