{% extends "home/base_tabla.html" %}
{% block contenido %}
<h1>Indicadores concentrados <a href="/reporte/" class="btn btn-primary">Descargar</a>
</h1>
<table class="table table-hover table-condensed table-bordered">
	<thead>
		<tr>
			<th>I's</th>
			<th>Meta</th>
			<th>Institucional</th>
			{% for area in areas %}
				<th> {{ area }} </th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		 {% for fila in matriz %}
		 	<tr>
		 	{% for columna in fila %}
		 		{{ columna|safe }}
		 	{% endfor %}
		 	</tr>
		 {% endfor %}
 	</tbody>
</table>
{% endblock %}