{% extends "home/base.html" %}
{% block contenido %}
			<form action="" method="post"> {% csrf_token %}
				<div class="form-group">
					<input name="nombre" class="form-control" type="text" placeholder="Nombre" required autofocus/>
				</div>			
				<div class="form-group">
					<input name="apellido" class="form-control" type="text" placeholder="Apellido" required/>		
				</div>
				<div class="form-group">
					<input name="username" class="form-control" type="text" placeholder="Correo" required />		
				</div>
				<div class="form-group">
					<input name="password" class="form-control" type="password" placeholder="Contraseña" required/>
				</div>
                <div class="form-group">
                    <blockquote><small>La cuenta de usuario estará suspendida hasta que sea autorizada por el administrador.</small> </blockquote>
                </div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg right">Guardar</button>					
				</div>
			</form>
{% endblock %}
