{% extends "home/base.html" %}
{% block contenido %}
<div class="row">
	<div class="small-12 medium-10">
		<a href="/sector/nuevo/" class="button" >Nuevo Sector </a>
		<table class="small-12 medium-10">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Sector</th>
					<th>&nbsp;</th>
				</tr>				
			</thead>
			<tbody>
				{% for area in areas %}
					<tr>
						<td>{{ area }}</td>
						<td>{{ area.sector }} </td>
						<td class="right">
							<a href="/area/{{ area.id }}/editar">Edtiar</a> |
							<a href="/area/{{ area.id }}/borrar">Borrar</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}