{% extends "home/base.html" %}
{% block contenido %}
<div class="row">
	<div class="small-12 medium-10">
		<a href="/sector/nuevo/" class="button" >Nuevo Sector </a>
		<table class="small-12 medium-10">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Meta</th>
					<th>Menor a la Meta</th>
					<th>&nbsp;</th>
				</tr>				
			</thead>
			<tbody>
				{% for indicador in indicadores %}
					<tr>
						<td>{{ indicador }}</td>
						<td>{{ indicador.meta }}</td>
						{% if indicador.menor_igual %}
						<td>Si</td>
						{% else %}
						<td>No</td>
						{% endif %}
						<td class="right">
							<a href="/sector/{{ sector.id }}/editar">Edtiar</a> |
							<a href="/sector/{{ sector.id }}/borrar">Borrar</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}